// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
}
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.main {
  height: 570px;
}
.main h1 {
  padding-top: 70px;
  padding-left: 8%;
  font-size: 45px;
}
.main .main-page-heading {
  margin: 0 auto 30px auto;
  padding-top: ;
  margin-left: 6%;
}
.login-box {
}

/* navigation bar */

#navbar {
  margin: -10px -10px; 
  height: 60px;
  background-color: #009999;
  opacity: 0.4;
}
.logo { 
  color: #ffffff;
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}
.logo:hover {
  color: #ff0000;
}
.menu {
  position: absolute;
  right: 5%;
}
#navbar .menu-link {
  position: relative;
  top: 20px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
}
#navbar .menu-link:hover {
  color: #ff0000;
}
.right-box {
  float: right;
  margin-right: 15%;
}
.search-box {
  margin-top: 20px;
  width: 250px;
  

}
.browser {
  margin-left: 10%;
  float: left;
  width: 600px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid #777777;
  background-color: #eeeeee;
}
.circle1, .circle2, .circle3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}
.circle1 {
  background-color: #ff0000;
}
.circle2 {
  background-color: #ffff00;
}
.circle3 {
  background-color: #00ff00;
}
.window {
  position: relative;
  margin: 0 auto 10px auto;
  width: 580px;
  height: 370px;
  border-radius: 10px;
  border: 2px solid #777777;
  background-color: #ffffff;
}
.window .www {
  position: relative;
  margin: 15px auto;
  width: 540px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #777777;
}
.www p {
  margin: 4.5px 0 0 5px;
  padding: 0 0 0 0;

}
.window .content {
  position: relative;
  margin: 0 auto;
  width: 540px;
  height: 290px;
  border-radius: 10px;
  border: 2px solid #777777;
}
.mini-nav {
  position: relative;
  height: 25px ;
  background-color: #009999;
  opacity: 0.4;
}
.mini-logo {
  position: relative;
  color: #ffffff;
  font-weight: bold;
  margin-left: 5px;
  padding-top: 2px;
}
.mini-main {
  position: relative;
  height: 100px;
  background-color: #009999;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
 }
.mini-content {
  margin-top: 15px;
  position: relative;
  color: #ffffff;
  font-size: 10px;
  font-family: Palatino, "New York", serif;
}
.mini-story {
  position: relative;
  text-align: center;
}
.browser .window .mini-story .example_image {
  position: relative;
}
.mini-title {
  font-size: 11px;
  margin-top: 5px;
  font-weight: bold;
}
.mini-content2 {
  font-size: 10px;
  width: 255px;
  word-wrap: break-word;
  margin: 2px auto;
  line-height: 110%;
}
.mini-message {

}
.message {
  position: absolute;
  top: 30px;
  left: 10px;
  
}
.with-flash {
  position: relative;
}

.index {
  margin: 10px -10px 50px -10px;
  height: 400px;
  background-color: #009999;
  color: #ffffff;
}
.index h1 {
  margin-top: 6px;
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
}
.index p {
  width: 35%;
  margin: 50px auto 100px auto;
  text-align: center;
  line-height: 150%;
  font-family: Palatino, "New York", serif;
  font-weight: 100;
}
.button {
  width: 85px;
  height: 40px;
  background-color: #0099cc;
  border-radius: 10px;
  position: relative;
  
}
.index a {
  color: #aaaaaa;
  position: fixed;
  top: 22px;
  left: 13px;
  text-decoration: none;
}
.button:hover {
  background-color: #ffdd22;
}
.big_container {
  margin: 50px auto;
  width: 500px;
  word-wrap: break-word;
}
.container {
  text-align: center;
} 
.image {
  margin: 15px 0;
}
.picture {
  border-radius: 5px;
}
.links {
  text-decoration: none;
  margin-bottom: 20px;
  text-align: center;
  color: #555555;
}
.content {
  line-height: 120%;
  font-size: 16px;
  margin-bottom: 15px;
}
footer {
  height: 70px;
  background-color: #dddddd;
  margin: 50px -10px -30px -10px;
}
footer p {
  padding-top: 10px;
  text-align: center;
}
.footer-el {
  margin: 0 15px;
}
form {
  margin: 0 auto;
}
.simple_form_for {
 
}
.form-control {
  width: 500px;
  border: 2px solid #dddddd;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.text {
  font-size: 16px;
}
#article_content {
  height: 300px;
}
.login {
  margin-top: 70px;
  margin-left: 20%;
}
.signup-link {
  text-decoration: none;
  font-size: 15px;
}
.control-label {
  display: block;
  margin: 5px 0;
}
#session_email, #session_password {
  width: 250px;
}
.login-button {
  font-size: 25px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  width: 70px;
  bottom-margin: 10px;
}

.article-title {
  margin-bottom: 15px;
}

.about {
  margin: 40px auto;
  text-align: center;
  width: 600px;
  word-wrap: break-word;
}
/* Responsive Design */
@media screen and (max-width: 850px) {
  #navbar .menu-link {  
    top: 20px;
    font-size: 1.125em;
  }
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */


