// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
}
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.main {
  height: 570px;
}
.main h1 {
  padding-top: 70px;
  padding-left: 8%;
  font-size: 45px;
}
.visit-link {
  font-size: 30px;
  text-decoration: none;
  margin-left: 70px;
}
.login-box {
  width: 400px;
  height: 610px;
  background-color: yellow;
  opacity: 0.3;
  float: right;
  margin-top: -20px;
  margin-right: -10px;
}

/* navigation bar */

#navbar {
  margin: -10px -10px; 
  height: 60px;
  background-color: #009999;
  opacity: 0.4;
}
.menu {
  margin-left: 90%;
}
#navbar .menu-link {
  color: black;
  text-decoration: none;
}

.index {
  margin: 0 -10px 100px -10px;
  height: 400px;
  background-color: #009999;
  color: #ffffff;
}
.index h1 {
  margin-top: 6px;
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
}
.index p {
  width: 35%;
  margin: 50px auto 100px auto;
  text-align: center;
  line-height: 150%;
  font-family: Palatino, "New York", serif;
  font-weight: 100;
}
.button {
  width: 85px;
  height: 40px;
  background-color: #0099cc;
  border-radius: 10px;
  position: fixed;
  top: 8px;
  left: 6px;
}
.index a {
  color: #aaaaaa;
  position: fixed;
  top: 22px;
  left: 13px;
  text-decoration: none;
}
.button:hover {
  background-color: #ffdd22;
}
#big_container {
  margin: 100px auto;
  width: 500px;
  word-wrap: break-word;
}
.container {
  text-align: center;
} 
.image {
  margin: 15px 0;
}
.links {
  text-decoration: none;
  margin-bottom: 20px;
  text-align: center;
  color: #555555;
}
.content {
  line-height: 120%;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid black;
}
footer {
  height: 100px;
  background-color: #dddddd;
  margin: 20px -10px -30px -10px;
}
footer p {
  padding-top: 10px;
  text-align: center;
}
.footer-el {
  text-decoration: none;
  margin: 0 15px;
}
form {
  margin: 0 auto;
}
.simple_form_for {
 
}
.form-control {
  width: 500px;
  border: 2px solid #dddddd;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.text {
  font-size: 16px;
}
#article_content {
  height: 300px;
}
.login {
  margin-top: 130px;
  margin-left: 20%;
}
.signup-link {
  text-decoration: none;
  font-size: 15px;
}
.control-label {
  display: block;
  margin: 5px 0;
}
.title {
  margin-left: 20px;
}
#session_email, #session_password {
  width: 250px;
}
.login-button {
  font-size: 25px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  width: 70px;
  bottom-margin: 10px;
}

.article-title {
  margin-bottom: 15px;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */


