// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  
}


body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.main {
 
}
.main h1 {
  padding: 100px 0 100px 0;
}


/* navigation bar */

#navbar {
  margin: -10px -10px; 
  height: 60px;
  background-color: #009999;
  opacity: 0.4;
}
.menu {
  margin-left: 90%;
}
#navbar .menu-link {
  color: black;
  text-decoration: none;
}


.index {
  margin: 0 -10px 100px -10px;
  height: 400px;
  background-color: #009999;
  color: #ffffff;
}
.index h1 {
  margin-top: 6px;
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
}
.index p {
  width: 35%;
  margin: 50px auto 100px auto;
  text-align: center;
  line-height: 150%;
  font-family: Palatino, "New York", serif;
  font-weight: 100;
}
.button {
  width: 85px;
  height: 40px;
  background-color: #0099cc;
  border-radius: 10px;
  position: fixed;
  top: 8px;
  left: 6px;
  color: white;
}
.index a {
  color: #aaaaaa;
  position: fixed;
  top: 22px;
  left: 13px;
  text-decoration: none;
}
.button:hover {
  color: black;
  background-color: red;
}
#big_container {
  margin: 100px auto;
  width: 500px;
}
.container {
  text-align: center;
} 
.image {
 
}
.links {
  text-decoration: none;
  margin-bottom: 20px;
  text-align: center;
  color: #555555;
}
.content {
  line-height: 120%;
  font-size: 16px;
}
footer {
  height: 100px;
  background-color: #dddddd;
}
form {
  margin: 0 auto;
}
.simple_form_for {
 
}
.form-control {
  width: 500px;
  border: 2px solid #dddddd;
}
.text {
  height: 300px;
  font-size: 16px;
}
.form {
  width: 500px;
}
.login {

}
.link {
  margin-left: 20px;
}
.login-link {
  text-decoration: none;
}
.title {
  margin-left: 20px;
}





